<% if !session[:name].blank? %>
    <h1>hi, <%= session[:name] %>.</h1>
    <%= form_tag ({controller: 'sessions', action: 'destroy', method: 'post'}) do %>
      <input type=submit value='logout'>
    <% end %>
<% else %>
    You have to be logged in first ->
    <%= link_to "Login", sessions_new_path %>
<% end %>
